# Node dependencies
node_modules/

# React Native cache & bundler
dist/
web-build/

# Android/Gradle
android/.gradle/
android/app/build/
android/build/
*.iml
.gradle/
local.properties
*.keystore
*.jks
*.p8
*.p12
*.key
*.pem

# iOS/Xcode (optional)
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.pbxuser

# Metro bundler
.metro/
.metro-health-check*

# Debug & lock files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# macOS
.DS_Store

# Environment files
.env
.env.*
.env*.local

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/
